div{
    width: 400px;
    height: 500px;
    background-color: blanchedalmond;

    padding: 20px;
    border-radius: 10px;
}

img{
    width: 400px;
    height: 300px;
    border-radius: 10px;
}

h1{
    color: red;
}

p{
    color: black;
}

button{
    color: rgb(61, 90, 176);
    width: 400px;
}